In [1]:
import pandas as pd
import requests

In [18]:
size= 20
date=20220814
url =f'https://m.stock.naver.com/api/stock/225570/trend?pageSize={size}&bizdate={date}'

In [19]:
response=requests.get(url)

In [20]:
data=response.json()

In [21]:
bizdate ,closePrice

NameError: name 'bizdate' is not defined

In [22]:
pd.DataFrame(data)[['bizdate','closePrice']]

     bizdate closePrice
0   20220812          -
1   20220811     22,100
2   20220810     21,900
3   20220809     21,950
4   20220808     22,000
5   20220805     22,200
6   20220804     22,950
7   20220803     23,000
8   20220802     22,300
9   20220801     22,300
10  20220729     22,550
11  20220728     22,150
12  20220727     20,900
13  20220726     19,750
14  20220725     19,500
15  20220722     19,700
16  20220721     20,600
17  20220720     20,250
18  20220719     20,350
19  20220718     20,350