In [2]:
import pandas as pd
import requests

In [7]:
# 미국환율 시계열 따오기 daum
url = 'https://finance.daum.net/api/exchanges/FRX.KRWUSD/days?perPage=10&page=2&pagination=true'
header = {'user-agent': "ozilla/5.0 (iPhone; CPU iPhone OS 13_2_3 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/13.0.3 Mobile/15E148 Safari/604.1",           
 'referer' : "https://m.finance.daum.net/"
}
requests.get(url,headers=header)

In [8]:
response = requests.get(url,headers=header)
dat=response.json()['data']

In [10]:
pd.DataFrame(dat)[['symbolCode','currencyCode','basePrice']]

   symbolCode currencyCode  basePrice
0  FRX.KRWUSD          USD     1310.0
1  FRX.KRWUSD          USD     1315.0
2  FRX.KRWUSD          USD     1312.0
3  FRX.KRWUSD          USD     1309.0
4  FRX.KRWUSD          USD     1315.5
5  FRX.KRWUSD          USD     1325.0
6  FRX.KRWUSD          USD     1324.0
7  FRX.KRWUSD          USD     1305.0
8  FRX.KRWUSD          USD     1309.0
9  FRX.KRWUSD          USD     1314.0

In [11]:
# 전체환율 따오기 daum

url2 ='https://finance.daum.net/api/exchanges/summaries'
header = {'user-agent': "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/103.0.0.0 Safari/537.36",
    'referer' : "https://m.finance.daum.net/"
           }
requests.get(url2,headers=header)

In [12]:
response1 = requests.get(url2,headers=header)
hi=response1.json()['data']

In [13]:
data2=pd.DataFrame(hi)[['symbolCode','currencyCode','basePrice']]

In [14]:
data2

    symbolCode currencyCode  basePrice
0   FRX.KRWUSD          USD    1310.90
1   FRX.KRWJPY          JPY     980.52
2   FRX.KRWCNY          CNY     193.90
3   FRX.KRWEUR          EUR    1332.79
4   FRX.KRWGBP          GBP    1593.92
5   FRX.KRWCHF          CHF    1364.24
6   FRX.KRWCAD          CAD    1020.71
7   FRX.KRWNZD          NZD     825.08
8   FRX.KRWHKD          HKD     167.01
9   FRX.KRWBRL          BRL     248.09
10  FRX.KRWMXN          MXN      64.07
11  FRX.KRWAED          AED     356.89
12  FRX.KRWKWD          KWD    4273.37
13  FRX.KRWBHD          BHD    3477.19
14  FRX.KRWINR          INR      16.51
15  FRX.KRWSAR          SAR     348.64
16  FRX.KRWNOK          NOK     135.05
17  FRX.KRWDKK          DKK     179.08
18  FRX.KRWMYR          MYR     294.30
19  FRX.KRWBDT          BDT      13.84
20  FRX.KRWPKR          PKR       5.89
21  FRX.KRWIDR          IDR       8.80
22  FRX.KRWTWD          TWD      43.66
23  FRX.KRWPHP          PHP      23.52
24  FRX.KRWSEK          SEK     128.39
25  FRX.KRWAUD          AUD     912.52
26  FRX.KRWSGD          SGD     949.89
27  FRX.KRWTHB          THB      36.23
28  FRX.KRWEGP          EGP      68.71
29  FRX.KRWBND          BND     949.89
30  FRX.KRWILS          ILS     390.46
31  FRX.KRWJOD          JOD    1848.94
32  FRX.KRWVND          VND       5.60
33  FRX.KRWRUB          RUB      21.69
34  FRX.KRWHUF          HUF       3.38
35  FRX.KRWPLN          PLN     283.67
36  FRX.KRWZAR          ZAR      78.22
37  FRX.KRWMNT          MNT       0.41
38  FRX.KRWCZK          CZK      54.08
39  FRX.KRWKZT          KZT       2.75
40  FRX.KRWQAR          QAR     357.88
41  FRX.KRWTRY          TRY      73.06

In [10]:
# 네이버 국가전체환율따오기 
url3 ='https://api.stock.naver.com/marketindex/exchangeNew'
requests.get(url3)

In [11]:
response3 = requests.get(url3)

In [13]:
data6=response3.json()

In [22]:
naver_1=pd.DataFrame(data6)[['name','closePrice']]

In [ ]:
naver_1['closePrice']=naver_1['closePrice'].apply(lambda naver_1 : float(naver_1.replace(",", "")))

In [56]:
# apply 연습
naver_1['hi1']=naver_1['closePrice'].apply(lambda naver_1 : round(naver_1))
naver_1['hi2']=naver_1['closePrice'].apply(lambda naver_1 : 100)

In [31]:
#네이버 달러 환율  시계열
page , pagesize = 1, 60
url4= f'https://api.stock.naver.com/marketindex/exchange/FX_USDKRW/prices?page={page}&pageSize={pagesize}'

In [32]:
response4=requests.get(url4)

In [33]:
response4

In [35]:
data4=response4.json()

In [38]:
usd=pd.DataFrame(data4)[['localTradedAt','closePrice']]

In [59]:


#크롤링 함ㅅ구만ㄴ들기

def hello(page, pagesize) :
    url4= f'https://api.stock.naver.com/marketindex/exchange/FX_USDKRW/prices?page={page}&pageSize={pagesize}'
    header1 = {'referer': 'https://m.stock.naver.com/marketindex/exchange/FX_USDKRW', 
                 'user-agent' :'Mozilla/5.0 (iPhone; CPU iPhone OS 13_2_3 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/13.0.3 Mobile/15E148 Safari/604.1'
    }
    response4=requests.get(url4,headers= header1)
    data4=response4.json()
    return pd.DataFrame(data4)[['localTradedAt','closePrice']]

In [60]:
hello(1,40)

   localTradedAt closePrice
0     2022-08-03   1,310.00
1     2022-08-02   1,312.00
2     2022-08-01   1,305.00
3     2022-07-29   1,304.50
4     2022-07-28   1,302.00
5     2022-07-27   1,314.00
6     2022-07-26   1,311.00
7     2022-07-25   1,312.00
8     2022-07-22   1,310.00
9     2022-07-21   1,315.00
10    2022-07-20   1,312.00
11    2022-07-19   1,309.00
12    2022-07-18   1,315.50
13    2022-07-15   1,325.00
14    2022-07-14   1,324.00
15    2022-07-13   1,305.00
16    2022-07-12   1,309.00
17    2022-07-11   1,314.00
18    2022-07-08   1,300.00
19    2022-07-07   1,300.50
20    2022-07-06   1,306.00
21    2022-07-05   1,311.50
22    2022-07-04   1,295.50
23    2022-07-01   1,298.00
24    2022-06-30   1,301.50
25    2022-06-29   1,297.50
26    2022-06-28   1,291.00
27    2022-06-27   1,285.00
28    2022-06-24   1,296.00
29    2022-06-23   1,303.50
30    2022-06-22   1,302.50
31    2022-06-21   1,293.50
32    2022-06-20   1,293.00
33    2022-06-17   1,295.00
34    2022-06-16   1,293.50
35    2022-06-15   1,291.50
36    2022-06-14   1,289.50
37    2022-06-13   1,288.00
38    2022-06-10   1,280.00
39    2022-06-09   1,256.00