In [ ]:
#  종합 
# 동적페이지  : url 변경없이 웹페이지 데이터 변경  Json :api
# 정적 페이지  url  변경 해서 웹페이지 데이터 변경  HTml : BeautifulSoup (css selector)
 
#  실습 네이버 트랜드 
#  직방 원룸 가격 수집 
#  daum 환율 header 설정 (user-agent, referer)
# html 문법 css-selector 
#  naver 연관검색어 키워드 크롤링
#  gmarket 아이템 크롤링

In [2]:
import pandas as pd
import requests , json
from bs4 import BeautifulSoup

In [65]:
# url 따오기
CLIENT_ID , CLIENT_SECRET = 'Zdd_xJ3zOXMjhFVyunEB' , 'BRnHmGrUwM'

url = 'https://openapi.naver.com/v1/datalab/search'

params= {"startDate": "2021-11-01",
  "endDate": "2022-07-31",
  "timeUnit": "month",
  "keywordGroups": [
    { "groupName": "침착맨", "keywords": ['이병건','이말년']},
    { "groupName": "주호민", "keywords": ['쭈펄','쭈호민']},
    ]

}

header = { 
    "Content-Type": "application/json",
    "X-Naver-Client-Id": CLIENT_ID,
    "X-Naver-Client-Secret": CLIENT_SECRET,    

}

In [66]:
response=requests.post(url, data= json.dumps(params),headers= header)
response

In [67]:
data=response.json()['results']

In [68]:
df2 = pd.DataFrame({
'date' : [period['period'] for period in data[0]['data']],
'이말년' : [ratio['ratio'] for ratio in data[0]['data']],
'주호민' : [ratio['ratio'] for ratio in data[1]['data']],
})

In [69]:
df2

         date        이말년      주호민
0  2021-11-01   28.33299  0.00633
1  2021-12-01   24.95381  0.01583
2  2022-01-01   74.26393  0.00633
3  2022-02-01   94.73750  0.05383
4  2022-03-01  100.00000  0.05700
5  2022-04-01   36.23359  0.02850
6  2022-05-01   30.06851  0.03483
7  2022-06-01   41.38207  0.28186
8  2022-07-01   43.69715  0.25441

In [72]:
df2.plot(figsize(20,5))

NameError: name 'figsize' is not defined

In [63]:
data[0]

{'title': '침착맨',
 'keywords': ['이병건', '이말년'],
 'data': [{'period': '2021-06-01', 'ratio': 37.28292},
  {'period': '2021-07-01', 'ratio': 46.85886},
  {'period': '2021-08-01', 'ratio': 65.88195},
  {'period': '2021-09-01', 'ratio': 33.36113},
  {'period': '2021-10-01', 'ratio': 25.8659},
  {'period': '2021-11-01', 'ratio': 28.33299},
  {'period': '2021-12-01', 'ratio': 24.95381},
  {'period': '2022-01-01', 'ratio': 74.26393},
  {'period': '2022-02-01', 'ratio': 94.7375},
  {'period': '2022-03-01', 'ratio': 100},
  {'period': '2022-04-01', 'ratio': 36.23359},
  {'period': '2022-05-01', 'ratio': 30.06851},
  {'period': '2022-06-01', 'ratio': 41.38207},
  {'period': '2022-07-01', 'ratio': 43.69715}]}

In [64]:
data[1]

{'title': '주호민',
 'keywords': ['쭈펄', '쭈호민'],
 'data': [{'period': '2021-06-01', 'ratio': 0.03694},
  {'period': '2021-07-01', 'ratio': 0.02111},
  {'period': '2021-08-01', 'ratio': 0.07917},
  {'period': '2021-09-01', 'ratio': 0.01161},
  {'period': '2021-11-01', 'ratio': 0.00633},
  {'period': '2021-12-01', 'ratio': 0.01583},
  {'period': '2022-01-01', 'ratio': 0.00633},
  {'period': '2022-02-01', 'ratio': 0.05383},
  {'period': '2022-03-01', 'ratio': 0.057},
  {'period': '2022-04-01', 'ratio': 0.0285},
  {'period': '2022-05-01', 'ratio': 0.03483},
  {'period': '2022-06-01', 'ratio': 0.28186},
  {'period': '2022-07-01', 'ratio': 0.25441}]}